@use "./dim.scss";

.footer {
    padding-top:48px;
    padding-bottom: 48px;
    border-top-width:1px;
    margin-top: 80px;
    font-size: 12px;
    line-height: 1.8;
    &-inner {
        border-width: 1px;
        padding-top: var(--gutter-width);
        padding-bottom: var(--gutter-width);
        background: var(--bg-white);
        margin: 0 var(--gutter-width);
        
        @media(min-width: dim.$t7) {
        
            margin: 0 auto; 
            width: calc(#{dim.$t7} - ( var(--gutter-width) * 2 ) );
   
        }
        &-nav {
            display:flex;
            margin-bottom: var(--gutter-width);
            @media(min-width: dim.$t7) {
                justify-content: space-between;
            }
            &-section {
                flex: 1;
                @media(min-width: dim.$t7) {
                     width: calc(50% - (var(--gutter-width) / 2) );
                }
            }
            
        }
    }
    &-credit-line {
        font-size: 10px;
        text-transform:uppercase;
    }
    
}