@use "sass:math";
@use "./dim.scss";
:root {
    --spinner-width: 28px;
}

.header {
    position: fixed;
    z-index:3;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;

    /*mods*/
    &__center {
        top: calc(var(--header-top-padding) / 2);
        transform: translateY(-50%);
    }

    @media(min-width:dim.$t7 ){
        width: dim.$t7;
        height: 0;
        left: calc(50% - #{math.div(dim.$t7 , 2)});
    }
    @media(min-width:dim.$d-mq) {
        width: dim.$dt-width;
        left: calc(50% - ( #{math.div(dim.$dt-width , 2)}  ));
    }
    &-spinner, &-spinner:before {
        position: absolute;
        border-width:1px;
        border-radius: 50%;
        background:var(--bg-white);
    }
    &-spinner {
        left: var(--gutter-width);
        width: var(--spinner-width);
        height: var(--spinner-width);
        display: block;
        &:before {
            width: calc(var(--spinner-width) - 8px);
            height: calc(var(--spinner-width) - 8px);
            border-style:dashed;
            left: 50%;
            top: 50%;
            margin-left: -10px;
            margin-top: -10px;
            animation: spinner 5s infinite linear;
            will-change:transform;
        }
    }
}
.header-lockup {
    &-title {
        font-size: 14px;
        line-height: 1;
        display: block;
       
    }
    &-tagline {
        font-size: 12px; 
    }
}
.header-nav-ul-li-a {
    text-decoration: none;
    &--active {
        text-decoration: underline;
    }
}
@media(max-width: calc(dim.$t7 - 1px)) {
    @import "./header-mob.scss";
}
@media(min-width: dim.$t7) {
    @import "./header-dt.scss";
}




@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}