@use "./dim.scss";

.header-mob {
    
    &-toggle {
        display:none; 
        position:absolute;
        right: calc(var(--gutter-width) - 8px)  ;
        width: 48px;
        height: 48px;
        z-index:999;
        &:before {
            position: absolute;
            right: 8px;
            bottom:8px;
            left:8px;
            top:8px;
            border-width: 3px;
            box-shadow: 3px 3px 0 var(--the-color);
            background: var(--bg-white);
        }
        &-icon {
            display:none;
            &[data-state=closed] {
                display: block;
                &.header-nav--opened {
                    display:none;
                }
            }
            &[data-state=opened].header-nav--opened {
                display: block;
            }
            width: 18px;
            height: 18px;
            > svg {
                width: 18px;
                height: 18px;
            }
        }

        @media (max-width: calc(dim.$t7 - 1px)) {
            display: block;
        }
    }
}
.header-nav-container {
    position: fixed;
    right: 0;
    width:100%;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    background-color:var(--the-color);
    padding-left: var(--gutter-width);
     transform: translateX(200%);
    transition: transform .15s;
    transition-timing-function: ease-in;
    &.header-nav--opened {
        transform: translateX(0);
    }
}
.header-lockup {
    padding: var(--gutter-width) calc(var(--gutter-width) * 4) 0 0 ;
    &-title, &-tagline {
        display: block;
        color: var(--bg-white);
        
        &:active,&:visited {
            color: var(--bg-white);
        }
    }
    
    
}
.header-nav {
    padding: var(--gutter-width) ;
    padding-left: 0;
    &-ul-li {
        font-size: 28px;
        line-height: 1.62;
        &-a {
            color: var(--bg-white);
            font-weight: normal;
            &:active,&:visited {
                color: var(--bg-white);
            }
        }
    }
}