@use "./dim.scss";
@use "sass:math";

body {
  background-color: var(--bg-white);
  font-family: var(--font-serif);
  font-weight: normal;
  font-size: 18px;
  min-height: 100%;
  color: var(--the-color);
  line-height: var(--line-height-base);
  &.dark-mode {
    --bg-white: var(--dark-base);
  }
  
}
//STICKY FOOTER

  #footer-grid-wrap {
    min-height: 100vh;
    width:100%;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #main {
    flex-grow: 1;
     padding-top: var(--header-top-padding);     
  }
  #footer {
    flex-shrink: 0;
    margin-top: 80px;
  }

  
  
  body {
    color:var(--the-color);
    *, *:before, *:after {
      
      border:0px solid var(--the-color);
    }
  }
  img,video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  svg {
    display: block;
    max-width:100%;
    color:currentColor;
    &[fill=none] {
      fill:none !important;
    }
    * {
      fill:currentColor;
      &[stroke] {
        stroke:currentColor;
      }
      &[fill=none], &[FILL=none] {
        fill:none !important;
      }
      &:not([fill]) {
        fill: none !important;
      }
    }
  }
  a {
    font-weight:bold; 
    color: var(--the-color);
    &:active,&:visited {
      color: var(--the-color);
    }
    @media not all and ( hover:none) {
      &:not(.normal-hover):hover {
        //text-decoration: none;
        //text-decoration-style: dotted;
        background:var(--the-color);
        color: var(--bg-white);
        text-decoration: none; 
      }
    }
    &.no-underline {
      text-decoration: none;
    }
    
    &.thin {
      font-weight: normal;
    }
  }
  button {
    cursor: pointer;
  }
  *:focus {
    outline: 3px dashed var(--the-color)
  }
  
  .mw-800 {
    @media(min-width:800px) {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    @media(dim.$dt) {
      max-width: 1280px;
    }
  }

  //TYPOGRAPHY
    
body, p {
  line-height: math.div(24 , 16);
  font-family: var(--font-serif);
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  font-family: var(--font-sans);
  line-height: 1.2;
  @media(min-width: dim.$t7) {
    font-size: 1.2em;
  }
  @media(min-width: dim.$d-mq) {
    font-size: 2em;
  }
}


@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}