.after-block {
    &:after {
      display:block;
      content:'';
    }
}
.before-block {
    &:before {
      display:block;
      content:'';
    }
}

.font-sans {
    font-family: var(--font-sans);
    * {
        font-family: var(--font-sans);
    }
}
.font-serif {
    font-family: var(--font-serif);
    * {
        font-family: var(--font-serif);
    }
}

.no-underline {
    text-decoration: none !important;
}
.middle-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }