@use "./dim.scss";

@import "./type.scss";
.after-block {
    &:after {
      display:block;
      content:'';
    }
}
.before-block {
    &:before {
      display:block;
      content:'';
    }
}



.no-underline {
    text-decoration: none !important;
}
.middle-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
.lazy-gradient {
    background-image: linear-gradient(45deg, var(--the-color) 5.56%, transparent 5.56%, transparent 50%, var(--the-color) 50%, var(--the-color) 55.56%, transparent 55.56%, transparent 100%);
    background-size: 12.73px 12.73px;

}
@import "./layout.scss";
@import "./btn.scss";