.copy-section {
    padding: 0 var(--gutter);
    font-family: var(--font-serif);
    line-height: calc(24/16);
    > * {
        margin-bottom: var(--gutter);
    }
    h2,h3,h4,h5,h6 {
        line-height: 1.2;
        font-family: var(--font-mono);
        margin-bottom: var(--gutter);
    }
    h1,h2 {
        font-size: 28px;
        font-weight: bold;
        
    }
    & h3 {
        font-size: 18px;
        line-height: calc(22/18);
        margin-bottom: .45em;
        
    }
    h4,h5,h6 {
        font-size: 14px;
        text-transform: uppercase;
    }
    & .section-block {
        margin-bottom: calc(var(--gutter) * 2);
    }
    .wp-block-pullquote {
        font-family: var(--font-mono);
        font-size: 28px;
        line-height: calc(33/28);
        & cite {
            font-size: .5em;
            display: block;
            line-height: 1;
            margin-top:.5em;
        }
    }
    .wp-block-cover {
        position:relative;
        width: calc(100% + var(--gutter) * 2);
        left: calc(var(--gutter) * -1);
        aspect-ratio: 16/9;
     
        &__image-background, &__video-background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__inner-container {
            display: none;
        }
        
    }
    .wp-block {
        &-video, &-image {
            img, video {
                max-width: 100%;
                height: auto; 
                display: block;
            }
        }
    }
    .wp-element-caption {
        font-size: 12px;
        text-align: center;
        margin-top: 4px;
    }
    img {
        max-width: 100%;
        
        height: auto;
    }
    ul,ol {
        padding-left: 24px;
        li {
            margin-bottom: .25em;
            line-height: 1.3;
            &::marker {
                font-weight: bold;
                font-size: .85em;
            }
        }
    }
    ul {
        list-style: circle;
    }
    ol {
        list-style:decimal;
    }
    .wp-block-quote {
        font-style: oblique;
        font-size: .85em;
      
        cite {
            font-style: normal;
            font-size: .85em;
        }
    }
    
}