.faq-section-block {
    margin-bottom: calc(var(--gutter) * 2);
}
.faq-section {
    border: 1px solid var(--screen-text);;
    border-width: 0 0 1px 0;
     &:nth-child(2) {
      border-top-width: 1px; 
    }
    
    .faq-section-copy-container {
        position:absolute;
        left: -9999px;
        top: -9999px;
    }
    &.opened {
        .faq-section-copy-container {
            position: static;
        }
        .svg-container {
            transform: rotate(180deg);
        }
    }
}
.faq-header-container {
    cursor:pointer;
    position:relative;
    .faq-header {
        margin: 0;
        padding:8px 36px 8px 0;
    }
    .svg-container {
        position:absolute;
        right: var(--gutter);
        top: 8px; 
    }
    @media not (hover:none) {
        &:hover {
            & .svg-container {
                opacity:.85;
            }
        }
    }

}