.how-to-info{
    margin: 0 var(--gutter) calc(var(--gutter) * 1.25);
    padding: var(--gutter) 0;
    border: 1px solid currentColor;
    border-width: 1px 0;
}
.how-to-info-section {
    &:not(:first-child) {
        margin-top: var(--gutter);
    }
    .title {
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 2px;     
    }
    .copy {
        line-height: 1.3
    }

}
#contact-form-container {
    margin: 0 var(--gutter);
    .section {
        margin-bottom: 32px;
    }
    .helper-text {
        padding: 4px 0 0 20px ;
        font-size: 12px;
        line-height: 1.3;
        &.errored {
            color: var(--error-color);
        }
    }
    .interaction-container {
        position:relative;
        width: 100%;
        &:before,&:after, .right-line, .seperator {
            display:block;
            content:'';
            position:absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 1px solid currentColor;
            border-top: 0;
            pointer-events:none; 
        }
        &:after,.right-line,.seperator {
            border: 0;
            height: 1px;
            background: currentColor;
            width: auto; 
        }
        &:after {
            width: 10px;
            height: 1px; 
        }
        .right-line {
            left: auto;
            right: 0;
            height: 1px ;
        }
        .seperator {
            height: 1px;
            transform: scaleX(1);
            transition: transform .1s;
            transform-origin:left center;
            &.right-seperator {
                transform-origin: right center;
            }
        }
        &.isActive {
            color:var(--blue-accent);
        }
        &.isOpened {
            
            .seperator {
                transform:scaleX(0);
                
            }
        }
        &.errored {
            color: var(--error-color);
        }
        .interaction-label {
            padding: 0px;
            width: auto;
            position: absolute;
            cursor: pointer;
            pointer-events: none;
            left: 16px;
            top: 14px;
            line-height: 1.4;
            max-width: calc(100% - 32px);
            transform: scale(1);
            transform-origin: left center;
            transition: transform .1s;
            will-change: transform;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &.with-icon {
                max-width: calc(100% - 72px);
            }
            &.isOpened {
                transform: translateY(-26px) scale(.75);
            }
            &.mask {
                pointer-events: none;
            }
        }
        .field-icon {
            position:absolute;
            right: 16px;
            top: 50%;
            pointer-events: none;
            transform: translateY(-50%);
            &.calendar-icon {
                background-color:var(--screen-bg);
            }
        }
    }
    .selectField,.textField,.bigTextField {
        display:block;
        font-size: inherit;
        padding: 16px;
        width: 100%;
        font-family: inherit;
        border: 0;
        outline: 0;
    }
    .textField,.bigTextField{     
        background:none; 
        color:inherit;
        
        &.date {
            &::-webkit-calendar-picker-indicator {
                display:none;
            }
        }
    }
    .bigTextField {
        resize:vertical;
    }
    .selectField {
        opacity: 0;
    }
    .upload-field {
        padding: 42px var(--gutter) var(--gutter);
        min-height: 10em;
        font-size: 14px;
        line-height: 1.2;
        &.isOpened {
            padding-top:var(--gutter);
        }
    }
    .file-item {
        max-width: 100%;
        margin: 0 8px 8px 0;
    }
    .file-item-inner{
       display:flex; 
       max-width: 100%;
       align-items: center;
       padding-right: 40px;
    }
    .file-item-name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width:0;
    }
    .remove-file-button {
        position:absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 32px;
        & svg {
            position:absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .checkbox-title {
        margin-bottom: var(--gutter);
        display: block;
    }
    .checkbox-item {
        display:flex;
        margin-bottom: var(--gutter);
        font-size: 14px;
    }
    .checkbox-label {
        flex:1;
        font-size: 14px;
    }
    .checkbox-check-container {
        width: 16px;
        height: 16px;
        border: 1px solid var(--screen-text);
        position:relative;
        margin-right: 10px;
        & svg {
            width: 12px;
            height: 12px;
            position:absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
        }
        &.isChecked {
            background:var(--screen-text);
            color: var(--screen-bg);
            & svg {
                opacity: 1;
            }
        }
    }
    .range-input {
        display:block;
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
      
        color: var(--screen-text);
        
        &::-webkit-slider-runnable-track {
            height: 4px;
            border: 1px solid currentColor;
            //background:white;
        }
        &::-moz-range-track {
            height: 4px;
            border: 1px solid currentColor;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -10px; /* Centers thumb on the track */
            background-color: currentColor;
            border-radius: 50%;
            height: 20px;
            width: 20px;    
         }
         &::-moz-range-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -10px; /* Centers thumb on the track */
            background-color: currentColor;
            border-radius: 50%;
            height: 20px;
            width: 20px;  
         }
    }
    .range-counter {
        margin-top: 16px;
        font-size: 12px;
        position:relative;

    }
    .submit-button-container {
 
        text-align: center;
        & .contact-form-submit-button {
            background: var(--screen-text);
            color: var(--screen-bg);
            min-width: 212px;
            padding: 20px;
            font-size: 16px;
            &[disabled] {
                opacity: .5;
                pointer-events: none;
            }
        }
    }
 
    
    
}